@font-face {
  font-family: typeWriterFont;
  src: url(My-Underwood-fontfacekit);
}

body {
  margin: 0;
  box-sizing: border-box;
  background-image: url('https://i.pinimg.com/originals/9a/3c/d2/9a3cd2269473e519aa090e1e6cd9092f.png');
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a5a990;
  height: 8vh;
  justify-content: center;
}

nav div {
  font-size: 30px;
  font-family: typeWriterFont;
  color: black;
}

#root {
  font-size: 10px;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  display: flex;
  margin: 17%;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.recipeCard {
  background-image: url(https://i.pinimg.com/736x/88/2a/4d/882a4d2eedbd5e087c8b96e8935ab521.jpg);
  object-fit: fill;
  min-height: 490px;
  min-width: 750px;
  display: flex;
}

.left,
.right {
  min-height: 490px;
}

.left {
  width: 65%;
}

.right {
  width: 35%;
}
