body {
  margin: 0;
  box-sizing: border-box;
  background-image: url('https://i.pinimg.com/originals/9a/3c/d2/9a3cd2269473e519aa090e1e6cd9092f.png');
}

#root {
  font-size: 10px;
  font-style: italic;
  display: flex;
  align-items: center;
  background-color: white;
  height: fit-content;
  width: fit-content;
  margin: 100px 200px;
}
